$grey: #e5e5e5;
$grey-1: #525f7f;
$grey-2: #778ca3;
$grey-3: #eaedf3;
$grey-4: #f9faff;
$grey-5: rgba(0, 35, 75, 0.5);
$white: #ffffff;
$black: #000000;
$black-1: #00234b;
$purple: #624de3;
$orange: #ffe8df;

$buttonsBg: $grey-4;
$imageColor: $orange;
$bodyBg: $grey;
$articleBg: $white;
