nav {
  background-color: $navColor;
  padding: 20px 0;
  margin-bottom: 46px;
  .container {
    background-color: $white;
  }

  .user {
    display: flex;
    justify-self: end;
    &__image {
      background-color: $imageColor;
      border-radius: 100%;
      height: 36px;
      width: 36px;
    }

    &__data {
      margin-left: 13px;
      margin-bottom: 5px;

      h3 {
        line-height: 1;
        color: $black-1;
      }

      span {
        color: $grey-2;
      }
    }
  }
}
