nav {
  background-color: $white;
  padding: 20px 0;
  margin-bottom: 46px;
  .container {
    background-color: #fff;
  }

  .user {
    display: flex;
    justify-self: end;
    &__image {
      background: #ffe8df;
      border-radius: 100%;
      height: 36px;
      width: 36px;
    }

    &__data {
      margin-left: 13px;
      margin-bottom: 5px;
      h3 {
        color: #00234b;
      }

      span {
        color: #778ca3;
      }
    }
  }
}
