.people {
  .table {
    &__header {
      margin-bottom: 65px;
      h1 {
        font-weight: 500;
        font-size: 26px;
        line-height: 31px;
        color: $black-1;
        display: inline-block;
        margin-right: 7px;
      }

      span {
        font-weight: 500;
        line-height: 16px;
        color: $grey-2;
      }
    }
    &__labels {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 10px;
      padding-left: 25px;
      padding-right: 25px;

      h5 {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        color: $grey-2;
        margin-bottom: 10px;
      }
    }

    tr {
      border-radius: 10px;
      background: $articleBg;
      box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    }
    td {
      padding-top: 30px;
      padding-bottom: 50px;
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 10px;
    }

    .person {
      &--salary {
        b {
          color: $grey-1;
        }
        color: $grey-2;
      }
      &--name {
        h2 {
          color: $black-1;
          font-size: 18px;
          font-weight: 600;
        }

        p {
          color: $grey-2;
          font-weight: 400;
          font-size: 14px;
          margin-top: 8px;
        }
      }

      &__data {
        font-weight: normal;
        line-height: 26px;
        color: $grey-1;
      }
    }
  }
}
