@import "fonts/stylesheet.css";
@import "media_queries";
$grey: #e5e5e5;
$white: #ffffff;
$bodyBg: $grey;
$articleBg: $white;

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h5 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  font-style: normal;
}

h3 {
  font-size: 16px;
}

span {
  font-size: 13px;
}

input {
  border: none;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $bodyBg;
  font-family: "Inter", sans-serif;
}

.container {
  display: grid;
  padding: 0 30px;
  max-width: 1440px;
  margin: 0 auto;
  background: #e5e5e5;
  @include md {
    padding: 0 100px;
  }

  &__inner {
    @include md {
      padding-right: 20px;
    }
  }
}

.button {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-radius: 50px;
  padding: 8px 0;
  display: inline-block;
  cursor: pointer;
  position: relative;

  &--white {
    border: 2px solid rgba(98, 77, 227, 0.3);
    color: #624de3;
    width: 142px;
  }

  &--purple {
    background: #624de3;
    box-shadow: 0px 6px 12px rgba(98, 77, 227, 0.3);
    color: white;
    padding: 13px 25px;
  }
}

.people {
  &__header {
    margin-bottom: 65px;
    h1 {
      font-weight: 500;
      font-size: 26px;
      line-height: 31px;
      color: #00234b;
      display: inline-block;
      margin-right: 7px;
    }

    span {
      font-weight: 500;
      line-height: 16px;
      color: #778ca3;
    }
  }
  &__labels {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    padding-left: 25px;
    padding-right: 25px;

    h5 {
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      text-transform: uppercase;
      color: #778ca3;
      margin-bottom: 10px;
    }
  }
  article {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    background: $articleBg;
    box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .person {
    &--salary {
      b {
        color: #525f7f;
      }
      color: #778ca3;
    }
    &--name {
      h2 {
        color: #00234b;
        font-size: 18px;
        font-weight: 600;
      }

      p {
        color: #778ca3;
        font-weight: 400;
        font-size: 14px;
        margin-top: 8px;
      }
    }

    &__data {
      font-weight: normal;

      line-height: 26px;
      color: #525f7f;
    }
  }
}

nav {
  background-color: $white;
  padding: 20px 0;
  margin-bottom: 46px;
  .container {
    background-color: #fff;
  }
}

.is-right {
  float: right;
}

.user {
  display: flex;
  justify-self: end;
  &__image {
    background: #ffe8df;
    border-radius: 100%;
    height: 36px;
    width: 36px;
  }

  &__data {
    margin-left: 13px;
    margin-bottom: 5px;
    h3 {
      color: #00234b;
    }

    span {
      color: #778ca3;
    }
  }
}

.page {
  background-color: #fff;
  box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-bottom: 40px;

  &__description {
    padding-bottom: 30px;
    border-bottom: 1px solid #eaedf3;
    margin-bottom: 50px;
    padding-top: 34px;

    padding-left: 36px;
    background-color: #fff;
    h2 {
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      color: #00234b;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      color: #525f7f;
    }
  }
}

form {
  .form-container {
    margin: 0 auto;
    max-width: 540px;
    fieldset {
      border: none;
      position: relative;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 80px;
      }

      label {
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #624de3;
      }

      legend {
        position: absolute;
        bottom: -15px;
        font-size: 13px;
        line-height: 16px;
        color: rgba(0, 35, 75, 0.5);
      }
      .input {
        width: 100%;
        border-bottom: 1.5px solid #624de3;
        font-size: 20px;
        line-height: 24px;
        color: #00234b;
        padding: 8px 0;
        transition: border-bottom-color 0.5s ease-in-out;

        &:focus {
          outline: none;
          border-bottom: 1.5px solid #000000;
        }
      }

      input[type="date"]:invalid::-webkit-datetime-edit {
        color: #525f7f;
      }

      input[type="date" i] {
        font-family: "Inter", sans-serif;
      }

      select {
        border: none;
      }
    }
  }
  .button-group {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f9faff;
    border-radius: 0px 0px 10px 10px;

    .button {
      &--white {
        margin-right: 16px;
      }

      &--purple {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 154px;
      }
    }
  }
}
